*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    margin: -15px 0 0 60px;
}
hr{
    margin-top: -18px;
}
.container{
    height: 1100px;
    width: 630px;
  margin-left: 350px;
  margin-top: 80px;
}
h3{
    font-weight:bolder;
    color: #008268 ;
    text-align: center;
    font-size: 20px;
}
h6{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 33px;
    padding-left: 100px;

}
span{
    text-transform: uppercase;
    font-size: 30px;
    padding-left: 220px;
    font-weight: lighter;
}
h5{
    font-weight: lighter;
    font-size: 27px;
    text-align: center;
    padding-top: 20px;
}
p{
    text-align: center;
    font-size: small;
    padding-top: 10px;
}
label{
    font-weight: 600;
}
.input{
    text-align: center;
    margin-top: 30px;
}
input{
    height: 35px;
    width: 280px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
   text-align: center;

}
select{
    margin-left: -180px;
    font-size: 11.5px;
    border: none;
    color: grey;
}
 select option{
    outline: transparent;
    border: transparent ;
    border-style: none;
}
select option:active{
    outline: none;
    border: none;
}
.gender{
    margin-top: 35px;
    margin-left: 10px;
}
.gender input{
    color: transparent;
}
.gender label{
   padding-left: 100px;
}
.DOB{
    margin: -65px 0 0 300px;
}
.DOB label{
    padding-left: 100px;
}
.COB{
    margin: 40px 0 0 160px;
}
.COB input{
    color: transparent;
}
.COB label{
    padding-left: 90px;
}
.mother{
    margin-top: 40px;
    margin-left: 10px;
}
.mother label{
    padding-left: 80px;
}
.father{
    margin: -65px 0 0 300px;
}
.father label{
    padding-left: 20px;
    border: none;
}
.para{
   margin-left: -340px;
}
.Nationality{
    margin: 40px 0 0 160px;
}
.Nationality label{
    padding-left: 40px;
}
.Nationality input{
    color: transparent
}
.Nationality select{
    border: none;
}
.residency{
    margin-top: 40px;
}
.residency .rlable{
  font-size: 11.5px;
  padding-left: 2px;
  font-weight: lighter;
  color: grey;
}
.residency input{
    width: 470px;
    margin-left: 50px;
    color: transparent;
}
.country{
    margin-left: 440px;
    margin-top: -30px;
}
button{
    height: 30px;
    width: 80px;
    border-radius: 30px;
    margin: 50px 0 0 180px;
    border: 1.5px solid #008268;
    cursor: pointer;
    color: #008268;
}
button:hover{
    background-color: #008268;
    color: white;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
}
.btn{
    margin-left: 100px;
}
.btn a{
    text-decoration: none;
    color: #008268;
}
.btn a:hover{
    background-color: #008268;
    color: white;
}