*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    margin: -15px 0 0 60px;
}
hr{
    margin-top: -18px;
}
.container{
    height: 800px;
    width: 630px;
  margin-left: 350px;
  margin-top: 80px;
}
h6{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 36px;
    text-align: center;

}
p{
    text-align: center;
    font-size: small;
    padding-top: 10px;
}
label{
    font-weight: 600;
}
.input{
    text-align: center;
    margin-top: 30px;
}
input{
    height: 35px;
    width: 280px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
   text-align: center;

}
 select option{
    outline: transparent;
    border: transparent ;
    border-style: none;
}
select option:active{
    outline: none;
    border: none;
}
.account{
    /* text-align: center; */
    margin-top: 35px;
    margin-left: 10px;
}
.account select{
    margin-left: -267px;
    border: none;
    font-size:11.5px;
    color: grey;
}
.account input{
    color: transparent;
}
.account label{
   padding-left: 50px;
}
.owner{
    margin: -65px 0 0 300px;
}
.owner select{
    margin-left: -236px;
    border: none;
    font-size: 11.5px;
    color: grey;
}
.owner label{
    padding-left: 50px;
}
.pro{
    margin: 40px 0 0 160px;
}
.pro select{
    color: grey;
    padding-left: 2vh ;
     margin-left: -285px;
     font-size: 11.5px;
     border: none;
}
.pro input{
    color: transparent;
}
.pro label{
    padding-left: 100px;
}
.zip{
    margin-top: 40px;
    margin-left: 10px;
}
.zip select{
    margin-left: -250px;
    font-size: 11.5px;
    border: none;
    color: grey;
}
.zip label{
    padding-left: 100px;
}
.region{
    margin: -65px 0 0 300px;
}
.region label{
    padding-left: 100px;
    border: none;
}
.region select{
    margin: -20px 0 0 18px;
    border: none;
    font-size: 11.5px;
    color: grey;
}
.r{
    margin-top: -33px;
}
button{
    background-color: white;
    height: 30px;
    color: #008268;
    width: 80px;
    font-size: 2vh;
    border-radius: 30px;
    margin: 50px 0 0 180px;
    border: 1px solid #008268;
    cursor: pointer;
}
button:hover{
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #008268;
    color: white;
}
.btn{
    margin-left: 100px;
}